<template lang='pug'>
.header
  .title 注册
  .header_icon_hamburger(@click="showMenu")
  .header_icon_headphone
</template>

<script>

export default {
  name: 'Header',
  props: {

  },
  setup() {
    function showMenu() {
      const menuEl = document.querySelector('.menu')
      menuEl.classList.remove('no-show')
      document.querySelector('html').classList.add('noscroll')
      document.querySelector('.header').classList.add('darker')
      document.querySelector('.section_logo').classList.add('darker')
    }
    return {
      showMenu
    }
  }
}
</script>

