<template lang='pug'>
.menu.no-show
  .menu_noshow(@click="noShowMenu")
  .menu_container
    .menu_title Hi, 访客
    .router_list
      router-link.router_item(:to="{name: 'loginOrRegister'}" @click="noShowMenu")
        .router_icon.icon_login 
        .router_description 登录
      .router_line
      //- router-link.router_item(:to="{name: 'home'}" @click="noShowMenu")
        .router_icon.icon_home 
        .router_description 首页
      router-link.router_item(:to="{name: 'game'}" @click="noShowMenu")
        .router_icon.icon_game
        .router_description 游戏大厅
      router-link.router_item(:to="{name: 'promotion'}" @click="noShowMenu")
        .router_icon.icon_promotion 
        .router_description 优惠
      router-link.router_item(:to="{name: 'mine'}" @click="noShowMenu")
        .router_icon.icon_mine
        .router_description 我的
      router-link.router_item(:to="{name: 'helper'}" @click="noShowMenu")
        .router_icon.icon_helper
        .router_description 帮助中心
      router-link.router_item(:to="{name: 'proxy'}" @click="noShowMenu")
        .router_icon.icon_proxy
        .router_description 代理加盟
    
</template>

<script>
export default {
  name: 'Menu',
  props: {

  },
  setup() {
    function noShowMenu() {
      const menuEl = document.querySelector('.menu')
      menuEl.classList.add('no-show')

      document.querySelector('html').classList.remove('noscroll')
      document.querySelector('.header').classList.remove('darker')
      document.querySelector('.section_logo').classList.remove('darker')
    }
    return {
      noShowMenu
    }
  }
}
</script>

