<template lang='pug'>
.section_login  
  .data_list
    .data_box
      .data_question
        .data_question_icon
        .data_question_title 账号
        input.data_input
    .data_box
      .data_question
        .data_question_icon
        .data_question_title 密码
        input.data_input
      .show_password_icon 
    .data_submit_btn(@click="") 登录
    .forget_passsword_description 忘記密碼？
  
</template>

<script>

import { reactive, onMounted } from 'vue'
import useVuelidate from '@vuelidate/core'
import { required, email, alphaNum, minLength, numeric, helpers } from '@vuelidate/validators'
import axios from 'axios'

export default {
  name: 'SectionLogo',
  props: {

  },
  setup() {
    onMounted(() => {
      const pingAPI = "http://jdnrsaengine.gakkixmasami.com/ping"

      axios.get(pingAPI)
        .then(res => {
          localStorage.setItem('ip', res.data.result.ip)
        })
        .catch(err => {
          console.log(err)
        })
    })

    const registerData = reactive({
      username: null,
      password: null,
      checkedPassword: null,
      phone: null,
      phoneValidationCode: null,
      validationCode: null,
    })


  function handleSubmit() {
    const nowDomain = location.href.split(':8080')[0]
    const RegiserAPI = 'http://jdnrsaengine.gakkixmasami.com/v1/front/member/register'
    const option =  {
      method: 'post',
      headers: { 
        'Content-Type': 'application/json',

        },
      data: {
        SiteCode: '123',
        Account: registerData.username,
        Password: registerData.password,
        phone: registerData.phone,
        RegisterIp: localStorage.getItem('ip'),
        RegisterUrl: nowDomain
      },
      url: RegiserAPI,
    };
    axios(option)
      .then(res => {
        console.log(123123)
        console.log(res)
      })
      .catch(err => {
        console.log(err)
      })
  }
      

  
  const lengthValidation = (num) => (data) => {
      if(data == null) return true
      if(data.length != num) return false
      return true
    }

  const checkedPasswordValidation = data => {
    let result = true
    
    if(data == registerData.password) {
      if(data != registerData.checkedPassword ) result = false
    }
    if(data == registerData.checkedPassword) {
      if(data != registerData.password ) result = false
    }
    return result
  }


  const chineseValidation = data => {
    if(data == null) return true
    let express = /[^\u4e00-\u9fa5]/g
    // console.log(express.test(data)
    return !express.test(data)
  }

  const chineseEngValidation = data => {
    let express = /[^\u4e00-\u9fa5_a-zA-Z]/g
    // console.log(express.test(data)
    return !express.test(data)
  }
  
  const isTrueValidation = data => data == true
  

  const rules = reactive({
      login: {
        username: { 
          required,
          minLength: helpers.withMessage(() => "必须多于6个字符", minLength(6)),
          alphaNum: helpers.withMessage(() => "仅能是英文或数字", alphaNum),
        },
        password: { 
          required,
          minLength: helpers.withMessage(() => "必须多于6个字符", minLength(6)),
          // sameAspassword: helpers.withMessage(() => "请再次确认密码", checkedPasswordValidation)
        },
        checkedPassword: { 
          required,
          sameAspassword: helpers.withMessage(() => "请再次确认密码", checkedPasswordValidation)
          // sameAs: sameAs(registerData.login.passowrd)
        }
      },
      user: {
        realName: { 
          required,
          minLength: helpers.withMessage(() => "必须多于2个字符", minLength(2)),
          chineseEngValidation: helpers.withMessage(() => "仅能输入中文、英文或符号", chineseEngValidation),
        },
        email: { 
          required, 
          email: helpers.withMessage(() => "不是一个合法的邮箱", email),
        },
        phone: { 
          required,
          length: helpers.withMessage(() => "不是一个合法的手机号", lengthValidation(11)) ,
          numeric: helpers.withMessage(() => "仅能是数字", numeric),
        },
        wechat: { 
          required,
          minLength: helpers.withMessage(() => "必须多于2个字符", minLength(2)),
          alphaNum: helpers.withMessage(() => "仅能是英文或数字", alphaNum),
        },
        QQ: { 
          required,
          minLength: helpers.withMessage(() => "必须多于5个字符", minLength(5)),
          numeric: helpers.withMessage(() => "仅能是数字", numeric),
        }
      },
      bank: {
        bankName: { 
          required
        },
        province: { 
          required 
        },
        city: { 
          required 
        },
        netDot: { 
          required,
          chineseValidation: helpers.withMessage(() => "仅能是中文", chineseValidation),
        },
        bankCardNumber: { 
          required,
          minLength: helpers.withMessage(() => "必须多于2个字符", minLength(2)),
          numeric: helpers.withMessage(() => "仅能是数字", numeric),
        },
        agreeCheck: { 
          isTrueValidation
 
        },
      }
    })
  const v$ = useVuelidate(rules, registerData)

    return {
      registerData,
      v$,
      handleSubmit
    }
     
  }
 
}
</script>

