<template lang='pug'>

.section_login_or_register 
  .choice
    router-link.btn(:to="{name: 'login'}") 登录
    router-link.btn(:to="{name: 'register'}") 注册
  //- <SectionRegister/> //
  router-view
  
</template>

<script>

import SectionRegister from './SectionRegister'

export default {
  name: 'SectionLoginOrRegister',
  props: {

  },
  components: {
    SectionRegister
  }
}
</script>

