$white: #FFFFFF
$black: #0d0c10

@mixin logo($url, $width, $height, $size)
  width: $width
  height: $height
  background-image: url($url)
  background-position: center
  background-size: $size
  background-repeat: no-repeat


* 
  // border: solid 1px #fff
  box-sizing: border-box
  position: relative

html 
  padding-bottom: 10px
body 
  font-family: Avenir, Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-align: center
  color: $white
  margin: 0
  background-color: $black
  position: relative
  margin-bottom: 20px

  .header
    // border: solid 1px #fff
    display: flex
    justify-content: center
    align-items: center
    height: 7vh
    .title
      font-weight: bold
    .header_icon_hamburger
      +logo('./image/icon_hamburger.svg', 16px, 16px, contain)
      position: absolute
      left: 4%
      transform: translateY(-5%)
      &:hover
        cursor: pointer
    .header_icon_headphone
      +logo('./image/header-headphone.svg', 16px, 16px, contain)
      position: absolute
      right: 4%
      transform: translateY(-5%)
  .section_logo
    height: 39vh
    width: 100%
    &::before
      content: ""
      position: absolute
      +logo('./image/register-background.svg', 100%, 39vh, cover)
      display: block
    .main_logo
      +logo('https://dev-cqcp-web-backend.s3.ap-northeast-1.amazonaws.com/Hall_Data/moa01/Sites/jar01/Logo/1601476737_NDQoK.png', 72px, 72px, contain)
      position: absolute
      left: 50%
      top: 13%
      transform: translate(-50%, 0)
  .section_login_or_register
    width: 90%
    position: absolute
    top: 66%  
    left: 50%
    transform: translate(-50%, 0)
    border-radius: 8px
    background-color: $black
    padding-bottom: 40px
  
    .choice
      
      
      display: flex
      border-bottom: .0625rem solid #323232
      .btn
        width: 50%
        font-weight: bold
        color: #1dac9c
        text-decoration: none
        border-radius: 8px 8px 0px 0px
        padding: 10px
        &:hover
          background-color: #1dac9c
          color: $white
          
    .section_login
      width: 90%
      margin: 0 auto
      margin-top: 50px
      .data_box
        position: relative
        border-bottom: 1px solid rgba(50,50,50,.25)
        margin-top: 10px
        .data_question
          display: flex
          align-items: center
          // margin-left: 10px
          .data_question_title
            width: 15%
            font-size: .9375rem
            font-weight: bold
          .data_question_description
            margin-left: .375rem
            font-size: .75rem
        .data_input
          margin-top: 5px
          color: $white
          width: 100%
          padding: 15px
          height: 2.5rem
          line-height: 1.07
          background-color: $black
          border: none
          font-size: 100%
          &:focus
            outline: none
            border-bottom: 1px solid $white
        .show_password_icon
          cursor: pointer
          position: absolute
          right: 5%
          top: 25%
          +logo('./image/register-eye.svg', 20px, 20px, contain)
      .data_submit_btn
        width: 100%
        height: 2.75rem
        border: 1px solid rgba(91,233,221,.5)
        border-radius: 8px
        text-align: center
        line-height: 2.75rem
        margin-top: 10px
        background: #0b423b
        cursor: pointer
      .forget_passsword_description
        cursor: pointer
        padding: 20px 0
        font-size: .9rem
        font-weight: 700

    .section_register
      border: 1px solid rgba(50,50,50,.25)
      width: 100%
      .real_data_remind
        width: 92%
        padding: 8px 0
        border-radius: 8px
        font-size: .75rem
        font-weight: 700
        border: 1px solid rgba(50,50,50,.25)
        margin-top: 10px
        
        // margin: 10px auto 0px auto
        &::before
          content: ""
          display: inline-block
          // position: absolute
          position: relative
          left: -2%
          top: 2px
          +logo('./image/register-remind-icon.svg', 13px, 13px, contain)
      .data_list
        width: 92%
        margin: 0 auto
        .data_box
          position: relative
          border-bottom: 1px solid rgba(50,50,50,.25)
          margin-top: 10px
          .data_question
            display: flex
            align-items: center
            // margin-left: 10px
            .data_question_title
              font-size: .9375rem
              font-weight: bold
            .data_question_description
              margin-left: .375rem
              font-size: .75rem
          .data_input
            margin-top: 5px
            color: $white
            width: 100%
            height: 2.5rem
            line-height: 1.07
            background-color: $black
            border: none
            font-size: 100%
            &:focus
              outline: none
              border-bottom: 1px solid $white
          .show_password_icon
            cursor: pointer
            position: absolute
            right: 5%
            top: 55%
            +logo('./image/register-eye.svg', 20px, 20px, contain)
        .data_check
          font-size: .9rem
          font-weight: 700
          margin-top: 10px
          // display: flex
          .check_circle
            display: inline-block
            width: 20px
            height: 20px
            border: 1px solid #484848
            border-radius: 100%
            cursor: pointer
            position: relative
            top: 5px
          .check_description
            display: inline
            margin-left: 10px
            a
              color:#1dac9c
              text-decoration: none
        .data_submit_btn
          width: 100%
          height: 2.75rem
          border: 1px solid rgba(91,233,221,.5)
          border-radius: 8px
          text-align: center
          line-height: 2.75rem
          margin-top: 10px
          background: #0b423b
          cursor: pointer

        .login_description
          cursor: pointer
          padding: 20px 0
          font-size: .9rem
          font-weight: 700
  .menu
    width: 80%
    height: 100vh
    background-color: #1b1b1b
    position: absolute
    top: 0
    .menu_noshow
      +logo('./image/icon_x.svg', 12px, 12px, contain)
      position: absolute
      right: 5%
      top: 4%
      cursor: pointer
    .menu_container
      position: absolute
      left: 12%
      top: 12%
      .menu_title
        text-align: left
        font-weight: bold
        transform: translate(0, -150%)
        
        
      .router_list
        width: 120%
        .router_line
          padding: 0
          width: 100%
          border-bottom: 1px solid #fff
          opacity: 0.2
          position: relative
        .router_item
          display: flex
          align-items: center
          padding: 10px 0px
          position: relative
          cursor: pointer
          margin-bottom: 10px
          color: $white
          text-decoration: none
          &:hover
            opacity: 0.5
          .router_icon
            margin-right: 10px 
          .icon_login
            +logo('./image/icon_login.svg', 15px, 15px, contain)
          .icon_home
            +logo('./image/icon_home.svg', 15px, 15px, contain)
          .icon_game
            +logo('./image/icon_game.svg', 15px, 15px, contain)
          .icon_promotion
            +logo('./image/icon_promotion.svg', 15px, 15px, contain)
          .icon_mine
            +logo('./image/icon_mine.svg', 15px, 15px, contain)
          .icon_helper
            +logo('./image/icon_helper.svg', 15px, 15px, contain)
          .icon_proxy
            +logo('./image/icon_proxy.svg', 15px, 15px, contain)


          // .router_icon.login 
          // .router_description 

              


              






.noscroll 
  position: fixed
  overflow-y: scroll
  width: 100%


.darker
  filter: brightness(50%)
  


.no-show
  display: none