<template>
  <Header  />
  <SectionLogo />
  <M/>
  <Menu />
  
</template>

<script>
import Header from '@/components/Header.vue'
import M from '@/components/M.vue'
import SectionLogo from '@/components/SectionLogo.vue'
import Menu from '@/components/Menu.vue'

export default {
  name: 'App',
  props: {

  },
  components: {
    Header,
    M,
    SectionLogo,
    Menu
  }
}
</script>
